body {
    margin: 0 auto ;
}
.nav-bar {
    height: 70px;
    width: 100%;
    background-color: #0009;
    position: fixed;
}
.logo {
    height: 73px;
    width: 76px;
}
.nav-list {
    float: right;
    height: 80px;
    width: 401px;
}
.list-item {
    display: inline;
    margin-right: 12px;
}
.list-item a {
    text-decoration: none;
    color: yellow;
    
}
.list-item a:hover {
    color: blue; 
    background-color: red;
}
.col-container 
{
 
    border: 2px solid;
    height: 819px;
    width: 100%;
    position: relative;
}
.column-root
{
    height: 83%;
    width: 99%;
    border: 3px solid yellow;
    position: relative;
    margin-top: 67px;
}
.column {
     border: 2px solid red;
    height: 430px;
    width: 158px;
    background-color: grey;
    margin-top: 0px;
    margin-left: 1px;
    float: left;

}
.two {
    height: 430px;
    width: 81%;
    
}
.gobind {
    height: 426px;
    width: 200px;
    border: 2px solid;
    float: left;
}