body {
    margin: 0 auto;
    padding: 0px;
}
.nav-bar {
    height: 70px;
    width: 100%;
    background-color: #0009;
    position: unset;
}
.logo {
    height: 73px;
    width: 76px;
}
.nav-list {
    float: right;
    height: 80px;
    width: 401px;
}
.list-item {
    display: inline;
    margin-right: 12px;
}
.list-item a {
    text-decoration: none;
    color: yellow;
    
}
.list-item a:hover {
    color: blue; 
    background-color: red;
    
}
.container-one {
    height: 85%;
    width: 100%;
}
.col {
    /*border: 3px solid red;*/
    width: 100%;
    height: 689px;
    margin-top: -21px;
    padding-left: 12px;
    background-color: #ccf2ff;

}
.head {
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 27px;
    padding-top: 51px;
    width: 156px;

}
.address {
    padding-left: 11px;
    /*border: 3px solid;*/
    float: left;
    margin-right: 105px;

}
.change {
    margin-top: -88px;
    margin-bottom: -4px;
}
.one {
    text-decoration: underline;
}
.text {
    text-align: justify;
    font-size: 23px;
 
}
.map {
    /*border: 2px solid yellow;*/
    width: 100%;
    height: 30%;
    margin-top: -16px;
    background-color: #ccf2ff;
}
.footer-two{
    height: 54px;
    width: 100%;
    background-color: #ccff33;
    margin-top: -19px;
}
.footer-col-two {
    float: left;
    width: 334px;
    text-align: center;
    margin-top: -1px;

}
