body {
    margin: 0 auto;
}
.nav-bar {
    height: 70px;
    width: 100%;
    background-color: yellow;
    /*background-color: #0009;*/
    position: fixed;
}
.logo {
    height: 73px;
    width: 76px;
}
.nav-list {
    float: right;
    height: 80px;
    width: 401px;
}
.list-item {
    display: inline;
    margin-right: 12px;
}
.list-item a {
    text-decoration: none;
    color: yellow;
    
}
.list-item a:hover {
    color: blue; 
    background-color: red;
    
}
.hero-img {
    background-image: url(../img/school.jpg);
    width: 100%;
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    margin-top: 0px;
    background-color: rgba(9, 61, 109,0.5);
}
.about-section {
    width: 100%;
    height: 475px;
    /*border: 2px solid rebeccapurple;*/
    margin-top: 0px;
    padding: 30px 30px 30px 30px;
    background-color: #e6e6e6;
}
.about-col {
    width: 42%;
    height: 315px;
    /*border: 2px solid red;*/
    margin-top: 79px;
    margin-left: 210px;
}

.footer {
    height: 74px;
    width: 100%;
    background-color: cadetblue;
    margin-top: 0px;
}
.footer-col {
    float: left;
    width: 420px;
    text-align: center;
    margin-top: 10px;

}
.footer-col-b {
    width: 120px;
    border: 2px solid red;
    height: 46px;
}


}
.four {
    width: 170px;
}
.submit-button, .submit, .fab {
    margin-top: 12px;
 }
.fa-facebook-square {
        color: #3b5998;
        
 }
.fa-instagram {
        color: #fb3985;
  
}
  /**********************end index.html************************/
  
  
  /********************** start about.html*********************/
  
  
 .picture {
     /*border: 2px solid red;*/
     width: 100%;
 }
 .school {
    background-image: url(../img/gobind.jpg);
    /*border: 2px solid yellow;*/
    height: 505px;
    width: 100%;
  }
  .parent {
    /*border: 2px solid green;*/
    background-color: #9999ff;
    height: 986px;
    width: 100%;
    margin-top: -48px;
}
  .about-gobind {
    /*border: 2px solid blue;*/
    height: 386px;
    width: 43%;
    float: left;
    padding: 8px ;
    margin-left: 31px;
    margin-bottom: 23px;
}
  .short  {
    width: 462px;
    padding-top: 105px;
    padding-left: -8px;
}

.center {
    text-align: center;
    font-size: 55px;
    padding-top: 52px;

}
.center-a {
    text-align: center;
    font-size: 35px;
}
 
 /**********************end about.html************************/
 
 
  
  
  /********************** start class.html*********************/
  
  
  /********************** end class.html*********************/
  
  /********************** start media.html*********************/
  .sec {
   border: 2px solid;
    height: 953px;
    width: 100%;

}
.media {
    height: 92%;
    width: 99%;
    border: 3px solid yellow;
    margin-top: 67px;



}
 .pic {
    height: 378px;
    width: 437px;
    border: 3px solid;
    float: left;
    margin: 29px;
 }
  /********************** end media.html*********************/
  
  /********************** start contact.html*********************/
  
  /********************** end contact.html*********************/